@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.manrope-bold {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.manrope-semibold {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.manrope-normal {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.animate-pulse {
  animation: pulse 0.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
